%h3= @message
%table
  %thead
    %tr
      %td Title
      %td Length
      %td Updloaded at
      %td Watch
      %td Delete
      %td Download
      %td Watch link
  %tbody
    - @videos.each do |video|
      %tr
        %td
          %a{ :href => "/video/watch/#{video.id}" }= video.title
        %td= video.length
        %td= video.created_at
        %td
          %a.pure-button.pure-button-primary{ :href => "/video/watch/#{video.id}" } Watch
        %td
          %a.pure-button.pure-button-primary{ :href => "/video/delete/#{video.id}" } Delete
        %td
          %a.pure-button.pure-button-primary{ :href => "/download/media/video/#{video.attachments[0].path}" } Download
        %td
          %a.pure-button.pure-button-primary{ :href => "/video/watch/#{video.id}" } Watch link